<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Login</title>
  <script src="/js/jquery.js"></script>
  <link rel="stylesheet" href="/build/styles.css">
  <script src="https://kit.fontawesome.com/9966fbdd3d.js" crossorigin="anonymous"></script>

</head>

<body class="bg-blue-50">
  <% if (messages.adminalert && messages.adminalert.length> 0) { %>
    <div class="bg-red-100 border-t-4 border-red-500 rounded-b text-red-900 px-4 py-2 my-3 shadow-md absolute right-0"
      role="alert">
      <div class="flex">
        <div class="py-1">
          <svg class="fill-current h-6 w-6 text-red-500 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path
              d="M2.06 16.75l8.294-14.697A1 1 0 0111 2h8a1 1 0 01.95 1.312l-8.294 14.697A1 1 0 019 19H3a1 1 0 01-.95-1.312zM10 16a1 1 0 100-2 1 1 0 000 2zm0-4a1 1 0 100-2 1 1 0 000 2z" />
          </svg>
        </div>
        <div>
          <p class="font-bold">
            <%= messages.adminalert[0] %>
          </p>
        </div>
      </div>
    </div>
    <% } %>
      <section class="md:p-6 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <div class="my-6">
          <img class="py-1 px-2 mx-auto" width="64" src="
        <% if (siteInfo.siteLogo === "") { %>
          https://cdn-icons-png.flaticon.com/512/763/763775.png 
        <% } else { %>
          <%= siteInfo.siteLogo %>
        <% } %>" alt="Logo">
        </div>
        <div class="bg-white p-4 md:p-12 rounded-lg shadow-md">
          <form action="" id="admin-Form" method="post">
            <div class="pb-6 block">
              <h2 class="text-lg font-bold text-center text-slate-600">Welcome, Admin!</h2>
              <p class="text-center text-gray-400">Please enter your credentials to log in.</p>
            </div>
            <div class="my-3">
              <label for="adminmail"></label>
              <div class="relative">
                <input
                  class="border rounded-md w-72 lg:w-80 border-blue-200 focus:outline-none p-2 ps-8  placeholder:font-medium placeholder:text-sm"
                  placeholder="Enter your email" type="email" name="adminmail" id="adminmail" required>
                <div class="absolute top-1/2 transform -translate-y-1/2 px-2">
                  <i class="fa-solid fa-envelope text-blue-400"></i>
                </div>
              </div>
              <span class="text-red-400 font-semibold hidden" id="adminmailerr">Email is empty</span>
            </div>
            <div class="my-3">
              <label for="adminpass"></label>
              <div class="relative">
                <input
                  class="border rounded-md w-72 lg:w-80 border-blue-200 focus:outline-none p-2 ps-8 placeholder:font-medium placeholder:text-sm"
                  placeholder="Enter your password" type="password" name="adminpass" id="adminpass" required>
                <div class="absolute top-1/2 transform -translate-y-1/2 px-2">
                  <i class="fa-solid fa-lock text-blue-400"></i>
                </div>
              </div>
              <span class="text-red-400 font-semibold hidden" id="adminpasserr">Password is empty</span>
            </div>
            <div class="mt-3">
              <button
                class="px-6 w-full rounded-md mx-auto py-1 border-2 bg-blue-400 border-blue-400 text-white text-lg font-semibold"
                type="submit">Sign in</button>
            </div>
          </form>
        </div>
        <div class="my-6 text-center">
          <p>Forgot password? <a class="text-blue-600" href="/admin/login/reset_Password">Reset Password</a></p>
        </div>
      </section>
</body>

</html>