<!DOCTYPE html>
<html lang="en">
<%- include('./partial/header.ejs') %>

<body class="bg-gray-50 jagrataFont">
  <%- include('./partial/AdminNavbar.ejs') %>
  <main>
    <section class="mx-[2%] lg:mx-[8%] bg-purple-100 py-7 px-5 my-4 rounded-md shadow bg-[url('https://i.ibb.co/rt29MDq/ADloginbg.png')] bg-no-repeat bg-right-top bg-[length:350px_350px]">
      <h1 class="text-xl font-semibold">Statistics</h1>
      <p class="text-sm mt-2 flex text-gray-600">
        <a href="/admin/dashboard">Home</a> <span class="mx-2">•</span>
        <span>Statistics</span>
      </p>
    </section>
    <section class="mx-[2%] lg:mx-[8%] rounded-md p-4">
      <div class="chart-container p-4 m-2 border relative w-fit h-fit rounded-md shadow-md bg-white bg-opacity-50">
        <p class="uppercase text-center">TOTAL SALES THIS MONTH</p>
        <canvas id="myChart" class="lg:w-[500px] lg:h-[250px]"></canvas>
        <p class="text-start uppercase mt-2 text-gray-500">Income<span id="totalSales" class="indian_Price block text-black font-medium"></span></p>
      </div>
    </section>
  </main>
  <script>
    /* ------------------------------ ORDER VALUES ------------------------------ */
    var order_price = [];
    var order_dates = [];
    const orders = <%- JSON.stringify(orders) %>
    orders.forEach((order) => {
      order_price.push(order.orderprice);

      //Date
      const date = new Date(order.createdAt);
      var formattedDate = date.toLocaleDateString('en-US', {
        month: "short",
        day: '2-digit',
      });
      order_dates.push(formattedDate);
    });

    const totalPrice = order_price.reduce((accumulator, currentValue) => {
      return accumulator + currentValue;
    }, 0);

    $("#totalSales").text(totalPrice);
    /* --------------------------------- CHARTJS -------------------------------- */

    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: order_dates,
        datasets: [{
          label: 'sales from orders',
          data: order_price,
          backgroundColor: [
            "rgb(75, 192, 192)",
          ],
          borderColor: [
            "transparent",
          ],
          borderWidth: 0,
          barThickness: 12,
          borderRadius: 12,
        }]
      },
      options: {
        scales: {
          y: {
            display: false,
            beginAtZero: true,
            title: {
              display: true,
              text: "Price",
            },
            grid: {
              display: false,
            },
          },
          x: {
            display: false,
            title: {
              display: true,
              text: "Date",
            },
          },
        },
        plugins: {
          legend: {
            display: false, // Hide dataset label
          },
        }
      }
    });
  </script>
  <%- include('./partial/scripts.ejs') %>
</body>

</html>