<footer class="container mx-auto mt-12 border-t">
    <div class="px-7 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
        <div class="my-2">
            <div class="font-semibold my-2">
                <img width="42" src="
                                <% if (siteInfo.siteLogo === "") { %>
                                  https://cdn-icons-png.flaticon.com/512/763/763775.png 
                                <% } else { %>
                                  <%= siteInfo.siteLogo %>
                                <% } %>
                                " alt="">
            </div>
            <div class="mb-3 me-[10%] font-light p-1">
                Welcome to a place of refinement and beauty. This is Umeå, a WP gem we made for all furniture stores & brands.
            </div>
            <!-- Social Sites -->
            <div class="flex me-[15%] my-3">
                <a class="mx-2" href=""><img src="https://i.ibb.co/SVkXpFd/facebook.png" alt=""></a>
                <a class="mx-2" href=""><img src="https://i.ibb.co/rmxnLNC/twitter.png" alt=""></a>
                <a class="mx-2" href=""><img src="https://i.ibb.co/8gxtF06/instagram.png" alt=""></a>
            </div>
        </div>
        <div class="my-2">
            <div class="font-semibold my-2">Studio</div>
            <div class="footer-links">
                <div class="mb-1 p-1 font-light">
                    <a class="flex" href="/outstores">Vist our Store 
                        <span><img class="p-1 h-7 w-7" src="https://i.ibb.co/qkxF9Md/up-arrow-1.png" alt=""></span>
                    </a>
                </div>
                <div class="mb-1 p-1 font-light">
                    <a class="flex" href="/aboutus">About us
                        <span><img class="p-1 h-7 w-7" src="https://i.ibb.co/qkxF9Md/up-arrow-1.png" alt=""></span>
                    </a>
                </div>
                <div class="mb-1 p-1 font-light">
                    <a class="flex" href="">Our blog
                        <span><img class="p-1 h-7 w-7" src="https://i.ibb.co/qkxF9Md/up-arrow-1.png" alt=""></span>
                    </a></div>
            </div>
        </div>
        <div class="my-2">
            <div class="font-semibold my-2">Shopping</div>
            <div class="footer-links">
                <div class="mb-1 p-1 font-light">
                    <a class="flex" href="/returnPolicy">Return Policy
                        <span><img class="p-1 h-7 w-7" src="https://i.ibb.co/qkxF9Md/up-arrow-1.png" alt=""></span>
                    </a>
                </div>
                <div class="mb-1 p-1 font-light">
                    <a class="flex" href="/furnitureassmbling">Funiture Assembling
                        <span><img class="p-1 h-7 w-7" src="https://i.ibb.co/qkxF9Md/up-arrow-1.png" alt=""></span>
                    </a>
                </div>
                <div class="mb-1 p-1 font-light">
                    <a class="flex" href="/shippingMethod">Shipping Methods
                        <span><img class="p-1 h-7 w-7" src="https://i.ibb.co/qkxF9Md/up-arrow-1.png" alt=""></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="my-2">
            <div class="font-semibold my-2">Payment Methods</div>
            <div class="font-light p-1 mb-3">
                Select one of many supported payment providers from the list below.
            </div>
            <div class="my-3">
                <img src="https://umea.qodeinteractive.com/wp-content/uploads/2021/03/footer-logo-group.png" alt="">
            </div>
        </div>
    </div>
    <div class="border-t mx-7 border-black text-center py-2 mt-2">
        © 2023 Qode Interactive, All Rights Reserved
    </div>
</footer>